{% extends "core/base.html" %}
{% load static%}
{% block body %}


<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  {% with url_name=request.resolver_match.url_name %}
  <nav 
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white mt-2"
       >
    <div class="position-sticky">
      <!-- Search form -->
      <form class=" d-md-flex input-group w-auto my-auto mx-2 mt-3">
        <input
               autocomplete="off"
               type="search"
               class="form-control rounded"
               placeholder='Search...'
               style="min-width: 100px"
               />
        <span class="input-group-text border-0"
              ><i class="fas fa-search"></i
          ></span>
      </form>
      {% if user.is_authenticated %}
      <div class="list-group list-group-flush mx-3">
        <a
           href="{% url 'write_post' %}"
           class="list-group-item list-group-item-action py-4 ripple {% if url_name == 'write_post' %} text-primary {% endif %}"
           aria-current="true"
           >
           <i class="fa-sharp fa-solid fa-pen fa-fw me-3"></i><span class="fw-bold">Write</span>
        </a>
        <a
           href="#"
           class="list-group-item list-group-item-action py-4 ripple {% if url_name == 'home' %} text-primary {% endif %}"
           >
           <i class="fa-solid fa-bars-staggered fa-fw me-3"></i><span class ="fw-bold">My Feed</span>
        </a>
        <a
           href="#"
           class="list-group-item list-group-item-action py-4 ripple"
           >
           <i class="fa-regular fa-compass fa-fw me-3"></i></i><span class ="fw-bold">Explore</span>
        </a>
        <a
        href="#"
        class="list-group-item list-group-item-action py-4 ripple"
        >
        <i class="fa-solid fa-tag fa-fw me-3"></i></i><span class ="fw-bold">Tags</span>
        </a>
        <a
        href="#"
        class="list-group-item list-group-item-action py-4 ripple"
        >
        <i class="fa-solid fa-bookmark fa-fw me-3"></i><span class ="fw-bold">Bookmarked</span>
        </a>

        {% else %}
          <div class="mt-5 mx-1 rounded text-center fs-5 p-2 py-5 border">
            <p>Join the community and stay upto date</p>
            <a href="{% url 'register' %}" class="text-decoration-none bg-primary text-white
            p-2 fw-bold rounded">Get Started</a>
          </div>
        {% endif %}
      {% endwith %}

      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top border-bottom" 
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand mx-2" href="#">
        <div class="fw-bold fs-3">DEV<span class="bg-primary text-white p-1 m-1 rounded">LOG</span></div>
      </a>
    
      <!-- Right links -->
      
      <ul class="navbar-nav ms-auto d-flex flex-row">
        {% if user.is_authenticated %}
        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
             class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
             href="#"
             id="navbarDropdownMenuLink"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false"
             >
            <img
                 {% if user.profile.image %}src=""{% else %}src="{% static 'images/user.png' %}" {% endif %}
                 class="rounded-circle"
                 height="22"
                 loading="lazy"
                 />
          </a>
          <ul 
              class="dropdown-menu dropdown-menu-end "
              aria-labelledby="navbarDropdownMenuLink"
              >
            <li><a class="dropdown-item" href="#">My profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
          <a href="{% url 'login_view' %}" class="text-decoration-none m-2 fw-bold p-2">Login</a>
          <a href="{% url 'register' %}" 
            class="text-decoration-none m-2 text-primary fw-bold border border-primary p-2 rounded">
            Create Account
          </a>
        {% endif %}
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px">
  <div class="container-fluid pt-4 pb-2">
      {% block contents %} {% endblock contents %}

    </div>
</main>
<!--Main layout-->
{% endblock body %}