{% extends 'core/home.html' %}
{% load static %}
{% block contents %}
<div class="col-lg-9 mx-md-4 mb-4">
    <div class="shadow rounded p-2 bg-white ">
        <img src="{% static 'images/hashtag.png' %}"
            class="rounded-circle"
            height="40"
            loading="lazy"
        />
       <span class="fw-bold fs-4 px-1"> {{ tag.name }}</span>
       <span>
        {% if user.is_authenticated %}
            <button id="tagfollowbtn" value="{{tag.id}}" class=" mx-2 {% if is_following %}btn btn-danger{% else %}btn btn-primary{% endif %}"  style="z-index: 1;">
                {% if is_following %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}       
            </button>
        {% endif %}
       </span>
       <div class="my-3">
        <span>Followers <span class="fw-bold" id="tag_fc"> {{ tag.follower_count}}</span></span>
        <span class="mx-3">Posts <span class="fw-bold "> {{ tag.count}}</span></span>
       </div>
    </div>
</div>
<div class="col-lg-9 mx-md-4">
    {% for post in posts %}
            <div class="card my-2 shadow">
                <div class="card-header">
                    <a href="{% url 'view_profile' post.user.pk %}" class="text-decoration-none">
                        <img src="
                            {% if post.user.profile.image %}
                                {{ post.user.profile.image.url }}
                            {% else %}
                                {% static 'images/user.png' %} 
                            {% endif %}"
                        class="rounded-circle"
                        height="30"
                        loading="lazy"
                        />
                        <span class="fw-bold text-black px-1 textover">{{ post.user.username }}</span>
                    </a>
                    <div class="my-1">{{ post.date|date }}</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-title fw-bold fs-4  {% if post.coverimage %} col-lg-9 {% endif %}"><a href="{{ post.get_absolute_url }}" class="text-decoration-none text-black linkover">{{ post.title }}</a>
                        </div>
                        {% if post.coverimage %}
                          <a href="{{ post.coverimage.url }}" class="col-lg-3"> <img src="{{ post.coverimage.url }}" class="img-fluid"   alt=""></a>
                        {% endif %}
                    </div>
                <p class="card-text text-decoration-none py-2">
                    {% for tag in post.tags.all %}
                        <a href="{{ tag.get_absolute_url }}" class="text-decoration-none p-1 border rounded text-secondary"><span class="text-alert px-1">{{ tag }}</span></a>
                    {% endfor %}
                </p>
                </div>
                <div class="card-footer d-flex justify-content-between ">

                        <span>

                            <span>
                                <button class="btn btn-link text-decoration-none" id="likebutton" value="{{post.id}}" >
                                    <span class="fs-4"><i id="hicon{{post.id}}" class="fa-solid fa-heart text-secondary likeover rounded-circle p-1 
                                        {% if is_liked %}
                                            {% if is_liked|get_dict:post %} 
                                                setred 
                                            {% endif %}
                                        {% endif %}
                                        "></i></span>
                                </button>
                                <span id="likecount{{post.id}}">{{ post.like_count}}</span>
                            </span>

                            <span class="px-3">
                                <a href="{{ post.get_absolute_url }}#commentsection" class=" btn btn-link text-black text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View comments"> <span class="fs-4"><i class="fa-regular fa-comment textover"></i></span></a>
                                <span>{{ post.comment_count}}</span>
                            </span>     
                        </span>

                        <span>
                            <span class="px-3">{{ post.readtime }} min read</span>

                            <button id="savebutton" value="{{post.id}}" 
                                class=" btn btn- link text-secondary">
                                <span class="fs-4">
                                    <i id="sicon{{post.id}}" class="fa-solid fa-bookmark saveover rounded-circle 
                                    p-2
                                    {% if is_saved %}
                                            {% if is_saved|get_dict:post %} 
                                                setblue 
                                            {% endif %}
                                    {% endif %}"></i>
                                </span>
                            </button>
                               
                        </span>
                 
                </div>
            </div>
        {% endfor %}
</div>
{% endblock contents %}